<launch>

	<include file="$(find openni_launch)/launch/openni.launch">
		<arg name="depth_registration" value="true" />
	</include>

	<include file="$(find spacebot_kinect)/launch/segmentation.launch">
		<arg name="configfile" value="$(find rosmrsmap)/launch/config_segmentation_tabletop.yaml" />
		<arg name="cloud_subsample_factor" value="8" />
	</include>

	<node pkg="tf" type="static_transform_publisher" name="base_link" args="0 0 1.2 0 1.0 0 base_link camera_link 100" />

</launch>
