<launch>

	<arg name="map_folder" default="." />
	<arg name="input_cloud_topic" default="/camera/depth_registered/points" />

  	<!-- valgrind -tool=callgrind -->
	 <!-- xterm -e cgdb -args -->
	<node launch-prefix="" pkg="rosmrsmap" type="snapshot_map" name="snapshot_map" respawn="false" output="screen" >
		<param name="max_resolution" value="0.005" />
		<param name="map_folder" value="$(arg map_folder)" />
		<remap from="~input_cloud" to="$(arg input_cloud_topic)" />
	</node>

	
</launch>
